<mat-expansion-panel class="custom-panel">
  <mat-expansion-panel-header class="custom-header">
    <mat-panel-title class="custom-title">
      <mat-icon *ngIf="selectedOptions.length > 0" class="custom-validated">check</mat-icon>

      {{ title }}
      <mat-icon class="custom-icon">{{ icon }}</mat-icon>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="custom-content">
    <mat-selection-list
      #section
      [(ngModel)]="selectedOptions"
      (ngModelChange)="emitSelections()"
      [multiple]="multiple"
      class="custom-selection-list"
    >
      <mat-list-option
        class="custom-list-option"
        *ngFor="let item of itemTypes"
        [value]="item"
      >
        {{ item }}
      </mat-list-option>
    </mat-selection-list>

    <button
      mat-fab
      *ngIf="!addingOption"
      (click)="addingOption = true"
      color="primary"
      class="custom-fab"
    >
      <mat-icon>add</mat-icon>
    </button>

    <div class="custom-form-field" *ngIf="addingOption">
      <input matInput [(ngModel)]="newOption" class="custom-input" placeholder="Add custom {{title}}..."/>
      <button
        mat-fab
        (click)="updateOptions()"
        color="primary"
        class="custom-check-button"
      >
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </div>
</mat-expansion-panel>
