a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: lightgray
}

mat-toolbar {
    border-radius: 3px;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;

}