a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: lightgray
}

mat-toolbar {
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .spacer {
    flex: 1; /* This will make the spacer take up all available space between elements */
  }