.page-title {
    text-align: center;
    font-size: 3rem; /* Adjust the font size */
    font-weight: 700; /* Bold font */
    color: #caf1da; /* Choose your desired color */
    margin-bottom: 30px; /* Space below the title */
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 2px; /* Increase letter spacing */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Text shadow for depth */
  
    /* Animation effect */
    animation: glow 2s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 2px 2px 6px rgba(46, 204, 113, 0.8);
    }
    to {
      text-shadow: 2px 2px 10px rgba(46, 204, 113, 0.8);
    }
  }
  