<div class="contact-page">
    <div class="founders-section">
      <div class="founder">
        <img src="https://zak-rentals.s3.amazonaws.com/MikeNJojo.jpg" alt="Founder 1" class="founder-image" />
        <div class="founder-details">
          <h3>Michael Allen</h3>
          <p>The IT guy. Mike is a fullstack engineer at Cigna Insurance located in Bloomfield, CT. He is a math minor and engineering school graduate from the UConn (basketball capitol of the world)</p>
        </div>
      </div>
      <div class="founder">
        <img src="https://zak-rentals.s3.amazonaws.com/theKing.jpg" alt="Founder 2" class="founder-image" />
        <div class="founder-details">
          <h3>Adam Zak</h3>
          <p>The muscle. Adam is an established real estate agent in the Hartford area and a gifted server at a local italian restaurant. Adam and Mike graduated both high school and college together, and once upon a time even used to play some hoops together</p>
        </div>
      </div>
    </div>
  
    <div class="main-body">
      <h2>Company Mission Statement</h2>
      <p>
        At Assisted Listing, our mission is to revolutionize the real estate experience by harnessing the cutting-edge capabilities of artificial intelligence. We are dedicated to empowering individuals and businesses in creating bespoke, data-driven real estate listings. Through our innovative platform, we enable users to seamlessly craft personalized property listings, leveraging AI algorithms to optimize and tailor each listing to meet unique preferences and market demands. Our commitment lies in redefining the landscape of property showcasing, providing a user-centric solution that enhances efficiency, accuracy, and creativity in the real estate industry
      </p>
    </div>
  
    <div class="contact-details">
        <h2>Contact Details</h2>
    
        <div class="contact-icon">
          <mat-icon class="icon-box">email</mat-icon>
          <p>Email: 2022.allcen@gmail.com</p>
        </div>
    
        <div class="contact-icon">
          <mat-icon class="icon-box">phone</mat-icon>
          <p>Phone: +1-860-682-2090</p>
        </div>
    
        <div class="contact-icon">
          <mat-icon class="icon-box">linked_camera</mat-icon>
          <p>Instagram: <a href="https://www.instagram.com/bigmike0009" target="_blank">@bigmike0009</a></p>
        </div>
      </div>
  </div>
  