<div class="pricing1 py-5 bg-light">
    <div class="container">
        <div class="header-container">
            <div class="col-md-8 text-center">
                <h3 class="mt-3 font-weight-medium mb-1">Pricing to make your Work Effective</h3>
                <h6 class="subtitle">We offer 100% satisafaction and Money back Guarantee</h6>
                <div class="switcher-box">
                    <span class="onoffswitch-label">MONTHLY</span>
                    <div class="onoffswitch">
                        <mat-slide-toggle class="example-margin" color="primary" [(ngModel)]="checked">

                        </mat-slide-toggle>
                    </div>
                    <span class="onoffswitch-label">YEARLY</span>

                </div>
            </div>
            <!-- Row  -->
            <div *ngIf="!checked" class="row-mt-5">
                <!-- Column -->
                <div class="card-container">
                    <div class="card text-center card-shadow on-hover border-0 mb-4">
                        <div class="card-body font-14">
                            <h5 class="mt-3 mb-1 font-weight-medium">AGENT BASIC</h5>
                            <a mat-list-item class="click" (click)="checked = !checked">Save 40% w/ annual</a>

                            <div class="pricing my-3">
                                <sup>$</sup>
                                <span class="monthly display-5">12</span>
                                <small class="monthly">/mo</small>
                            </div>
                            <ul class="list-inline">
                                <li class="list-item">20 Generations</li>
                                <li class="list-item">1 User Only</li>
                                <li class="list-item">Cancel Anytime</li>
                                <li class="list-item-no-show">&nbsp;</li>
                                <li class="list-item-no-show">&nbsp;</li>
                            </ul>
                            <div class="bottom-btn">
                                <a class="btn btn-success-gradiant btn-md text-white btn-block" (click)="purchasePlan('price_1NnPbJAtI9Pqdjf0QXqjeRhK')"><span>Choose
                                        Plan</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="card-container">
                    <div class="card text-center card-shadow on-hover border-0 mb-4">
                        <div class="card-body font-14">
                            <div style="position: relative; width: 0; height: 0; justify-content: center; align-content: center; margin: 0 auto">
                                <span class="price-badge">Popular</span>
                            </div>
                            <h5 class="mt-3 mb-1 font-weight-medium">AGENT+</h5>
                            <a mat-list-item class="click" (click)="checked = !checked">Save 30% w/ annual</a>

                            <div class="pricing my-3">
                                <sup>$</sup>

                                <span class="monthly display-5">30</span>
                                <small class="monthly">/mo</small>
                            </div>
                            <ul class="list-inline">
                                <li class="list-item">200 Generations</li>
                                <li class="list-item">1 User-Only</li>
                                <li class="list-item">Cancel Anytime</li>
                                <li class="list-item-no-show">&nbsp;</li>
                                <li class="list-item-no-show">&nbsp;</li>
                            </ul>
                            <div class="bottom-btn">
                                <a class="btn btn-danger-gradiant btn-md text-white btn-block" (click)="purchasePlan('price_1NwcnkAtI9Pqdjf0xZ8nZuyw')">
                                    <span>Choose Plan</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="card-container">
                    <div class="card text-center card-shadow on-hover border-0 mb-4">
                        <div class="card-body font-14">
                            <h5 class="mt-3 mb-1 font-weight-medium">AGENCY</h5>
                            <small class="monthly">Starting at</small>
                            <div class="pricing my-3">

                                <sup>$</sup>
                                <span class="monthly display-5">200</span>
                                <small class="monthly">/mo</small>
                            </div>
                            <ul class="list-inline">
                                <li class="list-item">Groups of Users</li>
                                <li class="list-item">Unlimited Listing</li>
                                <li class="list-item">Unlimited Re-writes</li>
                                <li class="list-item">Premium Features</li>
                                <li class="list-item">Priority Support</li>
                            </ul>
                            <div class="bottom-btn">
                                <a class="btn btn-success-gradiant btn-md text-white btn-block" href="#f1"><span>Contact
                                        Us</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->

            </div>
        </div>
    </div>



    <div *ngIf="checked" class="row-mt-5">
        <!-- Column -->
        <div class="card-container">
            <div class="card text-center card-shadow on-hover border-0 mb-4">
                <div class="card-body font-14">
                    <h5 class="mt-3 mb-1 font-weight-medium">AGENT BASIC</h5>
                    <small class="monthly">Saves $50!</small>


                    <div class="pricing my-3">
                        <sup>$</sup>
                        <span class="monthly display-5">70</span>
                        <small class="monthly">/yr</small>
                    </div>
                    <ul class="list-inline">
                        <li class="list-item">250 Generations</li>
                        <li class="list-item">1 User Only</li>
                        <li class="list-item">Cancel Anytime</li>
                        <li class="list-item-no-show">&nbsp;</li>
                        <li class="list-item-no-show">&nbsp;</li>
                    </ul>
                    <div class="bottom-btn">
                        <a class="btn btn-success-gradiant btn-md text-white btn-block" href="#f1"><span>Choose
                                Plan</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="card-container">
            <div class="card text-center card-shadow on-hover border-0 mb-4">
                <div class="card-body font-14">
                    <div style="position: relative; width: 0; height: 0; justify-content: center; align-content: center; margin: 0 auto">
                        <span class="price-badge">Popular</span>
                    </div>
                    <h5 class="mt-3 mb-1 font-weight-medium">AGENT+</h5>
                    <small class="monthly">Saves $110!</small>


                    <div class="pricing my-3">
                        <sup>$</sup>

                        <span class="monthly display-5">250</span>
                        <small class="monthly">/yr</small>
                    </div>
                    <ul class="list-inline">
                        <li class="list-item">3000 Generations</li>
                        <li class="list-item">1 User-Only</li>
                        <li class="list-item">Cancel Anytime</li>
                        <li class="list-item-no-show">&nbsp;</li>
                        <li class="list-item-no-show">&nbsp;</li>
                    </ul>
                    <div class="bottom-btn">
                        <a class="btn btn-danger-gradiant btn-md text-white btn-block" href="#f1"><span>Choose
                                Plan</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="card-container">
            <div class="card text-center card-shadow on-hover border-0 mb-4">
                <div class="card-body font-14">
                    <h5 class="mt-3 mb-1 font-weight-medium">AGENCY</h5>
                    <small class="monthly">Starting at</small>
                    <div class="pricing my-3">

                        <sup>$</sup>
                        <span class="monthly display-5">1000</span>
                        <small class="monthly">/yr</small>
                    </div>
                    <ul class="list-inline">
                        <li class="list-item">Groups of Users</li>
                        <li class="list-item">Unlimited Listing</li>
                        <li class="list-item">Unlimited Re-writes</li>
                        <li class="list-item">Premium Features</li>
                        <li class="list-item">Priority Support</li>
                    </ul>
                    <div class="bottom-btn">
                        <a class="btn btn-success-gradiant btn-md text-white btn-block" href="#f1"><span>Contact
                                Us</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->

    </div>
</div>