mat-sidenav-container,mat-sidenav, mat-sidenav-content {
    height: 100%;
    background: repeating-linear-gradient(to bottom right, #232323, #181818 240px, #232323 120px, #181818 120px);
    font-family: 'Source Sans Pro', sans-serif;    
}

mat-sidenav{
    width: 20rem
}

:host {
    display: block;
    background-color: #181818; /* Replace with your desired background color */
    /* Other component styles */
    
  }

  html {     background-color: #181818;  /* Adjust the colors as needed */
  }

  .mat-sidenav-container {
    height: 100%;
 }
