<div class="signin-page">
    <div class="logo">
      <h1>Assisted Listing</h1>
      <h2>Sign in</h2>
    </div>
    <form (submit)="onSignIn(signInForm)" #signInForm="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput name="email"
        ngModel type="email" #emailInput="ngModel" [(ngModel)]="email_address" email
        placeholder="Enter Username" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" ngModel type="password" minlength="8" #passwordInput="ngModel" required
        name="password" placeholder="Enter Password" />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Sign In</button>
    </form>
    <div class="signup-link">
      <a (click)="signUp()">Don't have an account? Sign Up</a>
    </div>
  </div>