<section class="landing" (scroll)="onScroll($event)">
  <div class="landing-content">
    <h1>Never write another Property Listing by Hand</h1>
    <!-- Other content goes here -->

    <a mat-raised-button color="warn" routerLink="/generate">Create</a>

  </div>
</section>

<section class="fact-cards-container" (scroll)="onScroll($event)">
  <div class="fact-cards">
    <div class="fact-card left">
      <div class="fact-content">
        <img src="assets/ai-icon.jpeg" alt="Powered by GPT 3.5 AI" />
        <p>Create professional grade real estate listings with the click of a button</p>
      </div>
    </div>
    <div class="fact-card right middle-card">
      <div class="fact-content">
        <img src="assets/ease-of-use.jpg" alt="Personalized Service" />
        <p>Leverages the latest AI engine available in GPT 3.5</p>
      </div>
    </div>
    <div class="fact-card left">
      <div class="fact-content">
        <img src="assets/writing_icon.png" alt="Professional Grade Listings" />
        <p>Easy to use interface that tailors responses to your individual property, location, and writing preference.</p>
      </div>
    </div>
    <!-- Add more cards as needed -->
  </div>
</section>
