.landing {
  height: 120vh;
  background-image: url('https://img.freepik.com/premium-photo/pictures-beautiful-two-story-house-with-courtyard-ai-generated-art_848903-3435.jpg');
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
  padding: 5px;
}

.middle-card {
  order: 2; /* Ensure middle card is displayed as the second */
}

.landing-content {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  z-index: 1; /* Ensure content stays above the background */
}

.get-started-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  border: 2px solid #3498db;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1; /* Ensure button stays above the background */
}

.get-started-button:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}

.button-text {
  display: block;
}

/* Add a pseudo-element for the background image to create the parallax effect */
.landing::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://us.123rf.com/450wm/bulldogza/bulldogza1103/bulldogza110300148/9165567-star-on-space.jpg?ver=6');
  background-size: cover;
  opacity: 0.5; /* Initial transparency */
  z-index: 0;
  transition: opacity 0.3s ease; /* Smooth transition for opacity change */
}

/* Existing styles remain unchanged */
.fact-cards-container {
  background-color: #111; /* Night theme background color */
  padding: 50px 0;
  margin-left: 4px;
}

.fact-card {
  width: calc(50% - 20px); /* Adjust the width for half the screen width */
  margin-bottom: 40px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease;
  margin-left: 4px;

}

.fact-content {
  background-color: #222; /* Darker background color for facts */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #fff; /* White text color for readability */
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}



/* Additional styles for the fading in and out effect */
.fade-in {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.fade-out {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
}