<mat-nav-list>
    <a mat-list-item class="list-box" routerLink="/" (click)="onSideNavClose()">
        <mat-icon class="icon-box">home</mat-icon><span class="nav-caption">Home</span> 
    </a>
    <a mat-list-item class="list-box" routerLink="/generate" (click)="onSideNavClose()">
        <mat-icon class="icon-box">create</mat-icon><span class="nav-caption">Create</span> 
    </a>
    <a mat-list-item class="list-box" routerLink="/pricing" (click)="onSideNavClose()">
        <mat-icon class="icon-box">payment</mat-icon><span class="nav-caption">Pricing</span> 
    </a>
    <a mat-list-item class="list-box" routerLink="/contact" (click)="onSideNavClose()">
        <mat-icon class="icon-box">message</mat-icon><span class="nav-caption">Contact Us</span> 
    </a>
    <a mat-list-item class="list-box" routerLink="/login" *ngIf="!isLoggedIn()" (click)="onSideNavClose()">
        <mat-icon class="icon-box">person</mat-icon><span class="nav-caption">Sign In</span> 
    </a>

    <a mat-list-item class="list-box" *ngIf="isLoggedIn()" (click)="openCustomerPortal()">
        <mat-icon class="icon-box">person</mat-icon><span class="nav-caption">Manage Subscriptions</span> 
    </a>

    <a mat-list-item class="list-box" *ngIf="isLoggedIn()" (click)="logout()">
        <mat-icon class="icon-box">person</mat-icon><span class="nav-caption">Logout</span> 
    </a>
</mat-nav-list>